.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-left: 75px;
	padding-bottom:10px;
	padding-right: 75px;
	box-shadow: 0px 50px 60px 1px #F5F5F5;
}

.nav__link {
	text-decoration: none;
	font-family: serif;
	padding: 30px 30px;
	color: #FD907A;
}

.nav__link--Active {
	color: black;
}

.nav__link--booking {
	text-decoration: none;
	color: white;
	background-color: #FD907A;
	border-radius: 35px;
	padding: 10px 25px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 40px 75px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	font-family: 'Merriweather', serif;
	font-weight: lighter;
}

.massage-type {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.massage-type__image {
	max-width: 300px;
}

h3 {
	color: #FD907A;
}

.massage-type__massage-description {
	text-align: center;
	font-family: sans-serif;
	width: 300px;
}

.footer {
	background-color: #FCFBF4;
}

.footer-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact__image {
	color: #FD907A;
}

.store-info {
	display: flex;
	align-items: flex-start;
	font-family: sans-serif;
	padding-top: 40px;
	padding-bottom: 60px;
}

}
.masseuse {
	margin: auto;
	padding: 10px 10px;
}

.masseuse_image {
	max-width: 300px;
}

h4 {
	color: #FD907A;
	font-family: sans-serif;
}

h5 {
	font-weight: lighter;
	font-family: sans-serif;
	color: grey;
}

.contact {
	padding: 10px 80px;
}

.contactForm {
	display: flex;
	flex-direction: column;
	padding: 5px 50px;
	font-family: sans-serif;
	font-weight: lighter;
}

.contactRow {
	display: flex;
	
}

.formInput {
	background-color: #F8F8F8;
	border: none;
	border-radius: 15px;
	height: 45px;
}


.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	padding-right: 20px;
	padding-bottom: 20px;
}


.sendButton {
	width: 95px;
	height: 50px;
	border: none;
	border-radius: 25px;
	background-color: #FD907A;
	color: white;
}
.contatct__title {
	font-family: sans-serif;
	color: #011C4B;

}

.contact__details {
	font-weight: lighter;
	font-family: sans-serif;
	color: grey;
}

.reference__title {
	text-align: left;
	font-size: 30px;
	padding-left: 50px
}
.locate {
	font-family: sans-serif;
	padding-left: 50px;
	font-weight: bold;
}

.locate__details {
	font-weight: lighter;
	color: grey;
}

.pageContent {
	display: flex;
}

.touch {
	width: 100%;
	padding-right: 40px;
	padding-left: 130px;
	padding-top: 20px;
}

.map {
	padding: 40px 20px;
}

